

.info-box{
    width: 100%;
    height: 100%;
    
}

.info-header{
    height: 40%;
    width: 100%;
    display: flex;
    
    align-content: center;
    align-items: center;
    background-color: rgb(229, 230, 235);
}

.info-buttons-box{
    flex: auto;
    width: 30%;
    height: 100%;
    padding-right: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.info-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 1em 2em 1em 1em;
    filter:brightness(1);
}
.info-button:hover{    
    height: 37px;
    transition: .3s;
}

.edit{
    display: none;
    background-image: url(../../img/editar.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.delete{
    display: none;
    background-image: url(../../img/borrar.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.info-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 2em;
    background-image: url(../../img/img-default.jpg);
    background-size: cover;
}

.info-contacto{
    width: 100%;
    height: 60%;
    padding: 0 2em;
    border-top: 1px solid var(--colorDark);
}

.info-contacto h3{
    margin: 1.4em 0 3em;
    
}

.info-tel{
    height: 35%;
    
}

#infoTel{
    margin-top: .3em;
    padding: 1em 0;
    font-weight: bold;
    border-top: 1px solid var(--colorDark);
}

.info-email{
    height: 35%;
}

#infoEmail{
    margin-top: .3em;
    padding: 1em 0;
    font-weight: bold;
    border-top: 1px solid var(--colorDark);
}
